.btn {
  padding: 0.6rem 0.8rem;
  background-color: var(--black);
  color: var(--off-white);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.btn:hover {
  background-color: var(--raw-umber);
  letter-spacing: 3px;
}

.btn.raw-umber {
  background-color: var(--raw-umber);
}

.btn.jungle-green {
  background-color: var(--jungle-green);
}

.btn.raw-umber:hover,
.btn.jungle-green:hover {
  background-color: var(--dark-gray);
}

.buttons-container .btn {
  flex: 1 1;
}

.buttons-container .btn:hover {
  flex: 1 5%;
}