.input-label {
	display: flex;
	flex-direction: column;
}

.input-label input {
	font-size: 0.9rem;
	padding: 1rem;
}

/* Media Query */
@media (max-width: 900px) {
	.form label {
		width: 100%;
	}
}
