.view-recipe {
  background-color: var(--white);
  display: flex;
}

.view-recipe .image-container {
  width: 100%;
}

.view-recipe .view-recipe-description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.view-recipe .view-recipe-description ul {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

/* Media Query */
@media (max-width: 900px) {
  .view-recipe {
    flex-direction: column;
  }

  .view-recipe .image-container {
    width: 100%;
  }
}