.search-bar form {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  font-size: 0.9rem;
}

.search-bar form .input-container {
  flex: 1;
  display: flex;
  position: relative;
}

.search-bar form input {
  width: 100%;
  z-index: 1;
  padding: 1rem;
  outline: none;
  border: none;
}

.search-bar form button {
  flex: 0.05;
  background-color: var(--raw-umber);
}

.search-bar form button:hover {
  background-color: var(--dark-gray);
}