.recipe-container {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	transition: box-shadow 0.25s;
}

.recipe-container:hover {
	box-shadow: var(--box-shadow);
}

.recipe-container .image-container {
	height: 150px;
}

.recipe-container h3 {
	font-size: 1.5rem;
}

.recipe-container .description {
	flex-grow: 1;
	padding: 0.5rem 1rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

.recipe-container .description .information {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.recipe-container .description .recipe-description {
	font-size: 0.9rem;
	max-width: 100%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	white-space: normal;
}
