.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.form button {
  width: 100%;
  background-color: var(--raw-umber);
}

.form button:hover {
  background-color: var(--dark-gray);
}