.form label {
  flex: 1 0 48%;
  display: flex;
  flex-direction: column;
}

.form label input {
  font-size: 0.9rem;
  padding: 1rem;
  outline: none;
  border: none;
}

/* Media Query */
@media (max-width: 900px) {
  .form label {
    width: 100%;
  }
}