@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@200;300;400;600;700;800;900&display=swap');
/* Fonts: Italiana, Poppins */

:root {
  --black: #0e1116ff;
  --white: #fff;
  --off-white: #F1EEE6;
  --light-gray: rgb(234, 227, 213);
  --gray: rgb(154, 154, 154);
  --dark-gray: #444450;
  --naples-yellow: #f8e16cff;
  --raw-umber: #9e643cff;
  --jungle-green: #419d78ff;
  --text-color: var(--black);
  --box-shadow: 0 0 1rem #0e111655;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Segoe UI', sans-serif;
}

body {
  color: var(--text-color);
  background-color: var(--off-white);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Italiana', 'Poppins', 'Segoe UI', sans-serif;
  font-size: clamp(2.5rem, 3.5rem, 5vw);
}

h2 {
  margin-bottom: 0.5rem;
}

span.bold-italic {
  font-weight: bold;
  font-style: italic;
}

input {
  border-radius: 0;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.information {
  display: flex;
  flex-direction: column;
}

.information h3 {
  font-family: 'Italiana';
  margin-bottom: 0.5rem;
}

.information .small {
  font-size: 0.85rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.form-container {
  width: 100%;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.1rem;
  background-color: var(--black);
  color: var(--white);
}

.form-container a {
  font-size: 0.9rem;
  color: var(--white);
}

.form-container button:hover {
  background-color: var(--dark-gray);
}

/* Media Query */
@media (max-width: 500px) {
  .buttons-container {
    flex-direction: column;
  }
}

/* Loading Components */
.loading-mock {
  position: relative;
  overflow: hidden;
}

.loading-mock .loading-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: inherit;
}

.loading-mock .information {
  flex: 1;
  gap: 0.5rem;
}

.h1.loading-content {
  width: 80%;
  height: 3rem;
}

.h2.loading-content {
  width: 60%;
  height: 2rem;
}

.h3.loading-content {
  width: 40%;
  height: 1.5rem;
}

.small.loading-content,
.p.loading-content {
  height: 1rem;
}

.buttons-container.loading-content {
  height: 2.5rem;
}

.loading-mock .loading-content::after {
  content: "";
  position: absolute;
  width: 125%;
  height: inherit;
  background: linear-gradient(to right,
      rgba(245, 245, 245, 0.2),
      rgba(234, 227, 213, 0.5),
      rgba(223, 214, 197, 0.5),
      rgba(234, 227, 213, 0.5),
      rgba(245, 245, 245, 0.2));
  animation: back-shine 2s infinite ease;
}

@keyframes back-shine {
  0% {
    left: -40%;
  }

  50% {
    left: 40%;
  }

  100% {
    left: -40%;
  }
}