@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@200;300;400;600;700;800;900&display=swap');
/* Fonts: Italiana, Poppins */

:root {
  --black: #0e1116ff;
  --white: #fff;
  --off-white: #F1EEE6;
  --light-gray: rgb(234, 227, 213);
  --gray: rgb(154, 154, 154);
  --naples-yellow: #f8e16cff;
  --raw-umber: #9e643cff;
  --jungle-green: #419d78ff;
  --text-color: var(--black);
  --box-shadow: 0 0 1rem #0e111633;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Segoe UI', sans-serif;
}

body {
  color: var(--text-color);
  background-color: var(--off-white);
}

#root {
  min-height: 100vh;
}

h1 {
  font-family: 'Italiana', 'Poppins', 'Segoe UI', sans-serif;
  font-size: 3.25rem;
}

h2 {
  margin-bottom: 0.5rem;
}

button {
  padding: 0.4rem 0.8rem;
  background-color: var(--black);
  outline: none;
  border: none;
  color: var(--off-white);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  cursor: pointer;
  transition: .15s;
}

button:hover {
  background-color: var(--raw-umber);
  letter-spacing: 3px;
}

span.special-text {
  font-family: 'Italiana';
}

span.bold-italic {
  font-weight: bold;
  font-style: italic;
}

header {
  padding: 1rem;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid var(--gray);
}

header nav {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

header nav .logo {
  width: 200px;
}

header nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

header nav ul li a {
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--black);
}

header nav ul li a.active,
header nav ul li a:hover {
  color: var(--raw-umber);
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

main section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  transition: box-shadow .25s;
}

.recipe-container:hover {
  box-shadow: var(--box-shadow);
}

.recipe-container .img {
  height: 150px;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-container .description {
  flex-grow: 1;
  padding: 0.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--white);
}

.recipe-container .description h3 {
  font-family: 'Italiana';
}

section.recipe .view-recipe {
  background-color: var(--white);
  display: flex;
}

section.recipe .view-recipe .img {
  width: 100%;
}

section.recipe .view-recipe .view-recipe-description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section.recipe .view-recipe .view-recipe-description ul {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

ul.list-number {
  list-style-type: decimal;
  gap: 1rem;
}

ul.list-disc {
  list-style-type: disc;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.buttons-container button {
  flex-grow: 1;
}

.form-container {
  width: 100%;
  margin: auto;
  font-size: 1.1rem;
  background-color: var(--black);
  color: var(--white);
  padding: 1rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

form div {
  width: 48%;
  display: flex;
  flex-direction: column;
}

form div input {
  font-size: 0.9rem;
  padding: 1rem;
  outline: none;
  border: none;
}

form button {
  width: 100%;
  background-color: var(--raw-umber);
}

form button:hover {
  background-color: var(--jungle-green);
}

.form-container a {
  font-size: 0.8rem;
  color: var(--white);
}

div.flag-message {
  position: fixed;
  top: 15%;
  right: 1%;
  margin-inline: 1rem;
  padding: 1rem;
  background-color: var(--black);
  color: var(--white);
  box-shadow: var(--box-shadow);
  animation: appear-from-right 5s ease;
}

div.flag-message::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--jungle-green);
  animation: fill-right 4s linear;
}

@keyframes appear-from-right {
  0% {
    transform: translateX(100vw);
  }

  25% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}

@keyframes fill-right {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}


/* Media Query */
@media (max-width: 1000px) {
  section.recipe .view-recipe {
    flex-direction: column;
  }

  form div {
    width: 100%;
  }
}