.comments-section h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.comments-section span.comments-count {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--raw-umber);
  color: var(--off-white);
  font-size: 1rem;
}

.comments-section .comments-container {
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comments-section .not-connected {
  background-color: var(--black);
  color: var(--off-white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
